.container {
    background-color: black;
}

.container #mainWindow {
    z-index: 1;
}

.container #mouseWindow {
    z-index: 2;
}

.container canvas {
    position: absolute;
    left: 150px;
    top: 0px;
    border: 1px solid black;
}