.container {
    background-color: whitesmoke;
    height:100%;
}

.container h1 {
    color: black;
}

.container label {
    color: black;
}

.container select {
    margin-bottom:10px;
}

.container ul {
    padding-left: 25px;
}

.container li {
    color: black;
    font-size: small;
    list-style-type: disc;
}