.flexContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.flexSidebar {
    height:100%;
    flex: 0 1 250px;
    align-self: stretch;
}

.flexMap {
    flex: 1 1 auto;
    align-self: stretch;
}